#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 800px) {
  .logo {
    height: 3em;
    width: auto;
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 1em;
  gap: 1em;
  background-color: rgba(36, 36, 36, .75);

}

#nav-left {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

#nav-right {
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  gap: 1em;
  margin-right: 2em;
}

h1 {
  color: #318db8;
  margin-top: 0px;
  margin-bottom: 2.5em;
}

.projectImg {
  max-width: 500px;
  min-width: 300px;
  height: auto;
  margin: 2em;
  border: 2px solid #f5f5dc;
  border-radius: 5%;
  transition: .8s ease
}

.projectImg:hover {
  -webkit-box-shadow: 0px 0px 100px 0px #318db8;
  -moz-box-shadow: 0px 0px 100px 0px #318db8;
  box-shadow: 0px 0px 100px 0px #318db8;
  transition: .8s ease
}

p {
  margin-left: 6.25em;
  margin-right: 6.25em;
  font-size: 1.25em;
}

h2 {
  font-size: 2.5em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-section {
  margin-top: 4.6em;
  margin-bottom: 4.6em;
}

#hello {
  margin-bottom: 5px;
}

.hero {
  margin-top: 4.6em;
  margin-bottom: 6.25em;
}

#logo {
  border: none;
  max-width: 400px;
  min-width: 200px;
  height: auto;
  margin: 0px;
}

#projects {
  margin-top: 9.375em;
}

#about {
  margin-top: 9.375em;
}

#links {
  gap: 1em;
}

#resume-link {
  cursor: pointer;
  text-decoration: underline;
}

#resume {
  margin-top: 9.375;
  margin-bottom: 9.375;
}

h3 {
  text-decoration: underline;
  font-size: 2.25em
}

h4 {
  text-align: left;
  margin-left: 3em;
  font-size: 1.75em
}

ul {
  justify-content: start;
  text-align: left;
  margin-left: 6.25em;
  margin-right: 6.25em;
}

li {
  font-size: 1.25em;
}

#cert {
  max-width: 75%;
  height: auto;
}