@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 800px) {
  #logo {
    width: 75%;
    height: auto;
  }

  .hero {
    margin-top: 5.5em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
    max-width: 100vw;
  }

  h4 {
    max-width: 100vw;
    font-size: 1.25em;
  }

  .projectImg {
    width: 80%;
    height: auto;
  }

  p {
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 1.00em;
    max-width: 100vh;
    height: auto;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  #about {
    margin-top: 1em;
  }
}

@media (max-width: 465px) {
  #root {

    margin: 0;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    margin-top: 6.5em;
    margin-bottom: 6.25em;
  }

}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 1em;
  gap: 1em;
  background-color: rgba(36, 36, 36, .75);
  flex-wrap: wrap-reverse;
}

#nav-left {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

#nav-right {
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  gap: 1em;
  margin-right: 2em;
}

h1 {
  color: #318db8;
  margin-top: 0px;
  margin-bottom: 2.5em;
}

.header {
  color: #318db8;
}

.projectImg {
  max-width: 500px;
  min-width: 300px;
  height: auto;
  margin: 2em;
  border: 2px solid #f5f5dc;
  border-radius: 5%;
  transition: .8s ease
}

.projectImg:hover {
  -webkit-box-shadow: 0px 0px 100px 0px #318db8;
  -moz-box-shadow: 0px 0px 100px 0px #318db8;
  box-shadow: 0px 0px 100px 0px #318db8;
  transition: .8s ease
}



.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-section {
  margin-top: 4.6em;
  margin-bottom: 4.6em;
}

#hello {
  margin-bottom: 5px;
}



@media (min-width: 801px) {
  #logo {
    border: none;
    width: 30%;
    height: auto;
    margin: 0px;
  }

  .hero {
    margin-top: 4.6em;
    margin-bottom: 6.25em;
  }

  p {
    margin-left: 6.25em;
    margin-right: 6.25em;
    font-size: 1.25em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    text-decoration: underline;
    font-size: 2.00em;
  }

  h4 {
    text-align: left;
    margin-left: 3em;
    font-size: 1.75em;
  }

  ul {
    justify-content: start;
    text-align: left;
    margin-left: 6.25em;
    margin-right: 6.25em;
  }

  li {
    font-size: 1.25em;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  #about {
    margin-top: 9.375em;
  }
}

#projects {
  margin-top: 9.375em;
}



#links {
  gap: 1em;
}

#resume-link {
  cursor: pointer;
  text-decoration: underline;
}

#resume {
  margin-top: 9.375;
  margin-bottom: 9.375;
}







#cert {
  max-width: 75%;
  height: auto;
}