@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #f5f5dc;
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #489cc0;
  text-decoration: inherit;
  font-size: 1.25em;
}

a:hover {
  color: #71badc;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5dc;
  }

  a:hover {
    color: #747bff;
  }

}